@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,800;0,900;1,500&family=Roboto:wght@300;400;500;700;900&display=swap');

.privacy-section{
    text-align: start;
    min-height: 800px;
    margin-top: 80px;
    padding: var(--padding-1);
}
.privacy-section h1 {
    font-size: 35px;
    color: var(--color-dark);
    font-weight: 800;
    line-height: 120%;
    text-align: start;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #5865F2;
    display: inline-block;
    margin-bottom: 0.5em;
}
.privacy-section h2{
    color: var(--color-dark);
    font-weight: 600;
    line-height: 120%;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #9096cf;
    display: inline-block;
    margin: 0.5em;
}
.privacy-section h3{
    color: var(--color-dark);
    font-weight: 600;
    text-align: start;
    line-height: 120%;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #9096cf;
    display: inline-block;
    margin: 0.5em;
}
.privacy-section p{
    margin: 10px;
}
.privacy-section li{
    margin-left: 50px;
}