@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,800;0,900;1,500&family=Roboto:wght@300;400;500;700;900&display=swap');

header{
    position: fixed;
    left: 0; right: 0; top: 0;
    height: 80px;
    background-color: var(--color-light);
    padding: var(--padding-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
    z-index: 100;
}
header::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background-color:#e6b2fc;
    left: 1%;
    top: 4%;
    filter: blur(150px);
    pointer-events: none;
  }
.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom:1px solid #ffffff2e;
    box-shadow: var(--box-shadow);
  }
.logo-container div {
    font-size: 20px;
    font-weight:700 ;
    pointer-events: none;
}
.logo-container div span{
    color: var(--color-primary);
}
header nav ul {
    display: flex;
    column-gap: 1em;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
header nav ul a{
    transition: 0.25s ease;
}
header nav ul a:hover{
    color: var(--color-dark-variant);
}
.dark-mode{
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}
.dark-mode span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dark-mode span.active{
    background-color: var(--color-span);
    color: white;
    border-radius: var(--border-radius-1);
}
header >:nth-child(4){
    display: none;
}
header >:nth-child(4) button {
    color: var(--color-dark);
    background-color: var(--color-light);
    border: 1px solid var(--color-border);
    border-radius: 50%;
    padding: 0.3em;
    cursor: pointer;
    transition: 0.25s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
header >:nth-child(4) button span{
    color: var(--color-dark);
    transition: 0.25s ease;
    width: 100%;height: 100%;
    border-radius: 50%;
}
header >:nth-child(4) button:hover{
    background-color: var(--color-dark);
    color: var(--color-white);
}
header >:nth-child(4) button:hover > span{
    color: var(--color-white);
}
.hide{
    display: none !important;
}
.hidden{
    opacity: 0;
    visibility: hidden;
}
