@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,800;0,900;1,500&family=Roboto:wght@300;400;500;700;900&display=swap');
.return-container{
    margin-top: 70px;
    padding: var(--padding-1);
    display: flex;
    justify-content: start;
}
.return-homepage button { 
    color: var(--color-dark);
    background-color: var(--color-light);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-1);
    font-weight: 700;
    padding: 0.5em;
    cursor: pointer;
    transition: 0.25s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}
.return-homepage button span{
    transition: 0.25s ease;
    color: var(--color-dark);
}
.return-homepage  button:hover{
    background-color: var(--color-dark);
    color: var(--color-white);
}
.return-homepage  button:hover > span{
    color: var(--color-white);
}
.title{
    font-size: 48px;
    margin-bottom: 0.5em;
    line-height: 120%;
    padding: var(--padding-1);
    border-bottom:3px solid var(--color-info-dark);
}
.question-count-container{
    display: flex;
    justify-content: end;
    pointer-events: none;
}
.glass2 h1{
    line-height: 120%;
    font-size: 18px;
    margin-bottom: 0.5em;
    pointer-events: none;
}
.limit-text-to-2-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.quiz-main-container{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}
.quiz-main-container section{
    padding: 1em;
    width: 80%;
    border-radius: 10px;
}
.labels{
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    margin: 1em 0;
}
label {
    cursor: pointer;
}
label span{
    padding: 5px;
    border-radius: 3px;
    transition: 0.5s ease;
    font-weight: 500;
    color: var(--color-dark);
}
label span:hover{
    background-color: var(--color-span);
}
.wrong-answer{
    background-color: var(--color-danger);
}
.correct-answer{
    background-color: var(--color-success);

}
.submit-cont{
    text-align: center;
}
.quiz-main-container button {
    color: var(--color-dark);
    background-color: var(--color-light);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-1);
    font-weight: 700;
    padding: 0.5em;
    cursor: pointer;
    transition: 0.25s ease;
    column-gap: 5px;
}
.quiz-main-container button:hover{
    background-color: var(--color-dark);
    color: var(--color-white);
}
.error-msg{
    color: var(--color-danger);
    font-weight: 500;
}
.result-container{
    min-height: 150px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result-container h2, .result-container h4{
    text-align: center;
    margin-bottom: 10px;
}

.buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.show-correct-answers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    pointer-events: none;
    transition: all 1.5s ease;
}
.show-correct-answers small{
    margin-top: 5px;
    font-weight: 700;
    font-size: 14px;
}
.show-correct-answers div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #677483;
}
.glass2{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.101), rgba(161, 119, 153, 0.227));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: var(--box-shadow);
}
.bad-score{
    color: var(--color-danger);
}
.notbad-score{
    color: var(--color-warning);
}
.good-score{
    color: var(--color-success);
}
.spinner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}
.spinner {
    background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
    width: 35px;
    height: 35px;
    animation: spinning82341 1.7s linear infinite;
    text-align: center;
    border-radius: 50px;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
    background-color: rgb(36, 36, 36);
    width: 35px;
    height: 35px;
    border-radius: 50px;
    filter: blur(10px);
}

@keyframes spinning82341 {
to {
    transform: rotate(360deg);
}
}
